include ./demoComponents/demoPanelCard/demoPanelCard
html(lang='ru')
	head
		//meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='viewport', content='width=device-width')
		meta(charset="UTF-8")
	body.page
		.page__container
			.page__card
				+demoPanelCard()
			.page__card
				+demoPanelCard()
			.page__card
				+demoPanelCard()
			.page__card
				+demoPanelCard()